* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}

#logo{
  height: 60px;
  line-height: 60px;
  float:left;
}
#logo img{
  margin-left: 30px;
}
/* navbar */
#nav{
  list-style: none;
  float: right;
}
#nav li{
  float: left;
}
#nav li a{
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: bold;
  margin-right: 30px;
}
/* hero header */
#back_ground{
  height: 450px;
  background-size: cover;
  background-image: url("../images/hero_header.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
/* products */
#sub_title{
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #545454;
  margin-top: 60px;
  margin-bottom: 60px;
}
.product_list{
/* 큰 박스 */
  text-align: center;
}
.img_name{
  /* 제품 이름 */
  margin-top: 20px;
}
.price{
  /* 가격표 */
  margin-top: 4px;
}

.product_item{
/* 이미지파일 크기 */
  height: 225px;
  width: 225px;
}
.shop_item{
/* 제품 박스 */
  display: inline-block;
  margin-right: 20px;
}
.clear{
/* 제품 3개씩 자르기용 */
  clear:both;
  margin-bottom: 80px;
}
a{
/* 제품 설명 a 링크 스타일 변경 */
  text-decoration: none;
  color: black;
}

 /*footer */
#footer{
  text-align: center;
  margin-top: 120px;
  margin-bottom: 80px;
}
#footer a:not(:last-child){
  margin-right: 20px;
}