.div1{
    border: 1px solid lightskyblue;
    border-radius: 5px;
    margin-bottom: 50px;
    color: antiquewhite;
}

.div2 {
    border: 1px solid lightskyblue;
    border-radius: 10px 5px 25px 50px;
    color: whitesmoke;
}
.div3{
    box-shadow: -5px -5px 5px 3px navajowhite;
}

h1{
    background-color: mediumpurple;
}
body{
    background-color: #58595B;
}
