* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@media( max-width: 767px) {
  #brand_title {
    background: #353535;
    height: 60px;
    width: 100%;
  }
  #brand{
    padding-left: 30px;
    font-size: 20px;
    color: white;
    line-height: 60px;
  }
  #main_image {
    background-image: url("../images/main_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
  }
  #item_info_box {
    height: 320px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 320px;
  }
  #item_info{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }
  #label{
    font-size: 16px;
    color: #4A4A4A;
    margin-bottom: 10px;
  }
  #item_info h2{
    font-size: 20px;
    color: #1B1B1B;
    margin-bottom: 30px;
    margin-top: 0;
  }
  #item_info p{
    font-size: 16px;
    color:#7A7A7A;
    margin-top: 0;
    margin-bottom: 0;
  }

  #div4 {
    background-image: url("../images/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 385px;
  }

  #div5 {
    background-image: url("../images/img2.jpg");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    line-height: 200px;
  }

  #view a{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: white solid 4px;
    padding: 9px 40px;
    line-height: normal;
    text-decoration: none;
  }

  #div6 {
    background-image: url("../images/img3.jpg");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}


@media (min-width: 768px){
  #brand_title {
    background: #353535;
    height: 60px;
    width: 100%;
    text-align: left;
  }
  #brand{
    margin-left: 30px;
    font-size: 20px;
    color: white;
    display: inline-block;
  }
  #main_image {
    background-image: url("../images/main_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 562px;
    width: 100%;
  }
  #item_info_box {
    height: 282px;
    width: 100%;
    padding-left: 65px;
    padding-right: 65px;
    line-height: 320px;
  }
  #item_info{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }
  #label{
    font-size: 16px;
    color: #4A4A4A;
    margin-bottom: 10px;
  }
  #item_info h2{
    font-size: 20px;
    color: #1B1B1B;
    margin-bottom: 30px;
    margin-top: 0;
  }
  #item_info p{
    font-size: 16px;
    color:#7A7A7A;
    margin-top: 0;
    margin-bottom: 0;
  }

  #div4 {
    background-image: url("../images/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 360px;
    width: 50%;
    float:left;
  }

  #div5 {
    background-image: url("../images/img2.jpg");
    height: 180px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    line-height: 200px;
    float: left;
  }

  #view a{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: white solid 4px;
    padding: 9px 40px;
    line-height: normal;
    text-decoration: none;
  }

  #div6 {
    background-image: url("../images/img3.jpg");
    height: 180px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float:left;
  }
}

@media (min-width: 992px){
  #brand_title {
    background: #353535;
    height: 60px;
    width: 100%;
    text-align: left;
  }
  #brand{
    margin-left: 30px;
    font-size: 20px;
    color: white;
    display: inline-block;
  }
  #main_image {
    background-image: url("../images/main_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 50%;
    float: left;
  }
  #item_info_box {
    height: 350px;
    width: 50%;
    padding-left: 65px;
    padding-right: 65px;
    line-height: 320px;
    float:left;
  }
  #item_info{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }
  #label{
    font-size: 16px;
    color: #4A4A4A;
    margin-bottom: 10px;
  }
  #item_info h2{
    font-size: 20px;
    color: #1B1B1B;
    margin-bottom: 30px;
    margin-top: 0;
  }
  #item_info p{
    font-size: 16px;
    color:#7A7A7A;
    margin-top: 0;
    margin-bottom: 0;
  }

  #div4 {
    background-image: url("../images/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 25%;
    float:left;
  }

  #div5 {
    background-image: url("../images/img2.jpg");
    height: 175px;
    width: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    line-height: 200px;
    float: left;
  }

  #view a{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: white solid 4px;
    padding: 9px 40px;
    line-height: normal;
    text-decoration: none;
  }

  #div6 {
    background-image: url("../images/img3.jpg");
    height: 175px;
    width: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float:left;
  }
}